google-genai
numpy
scipy
edge-tts
librosa
sounddevice
soundfile
pyaudio
webrtcvad
halo
PySide6
Pillow
chromadb
regex
pyperclip
faster-whisper
silero-vad
openai-whisper
transformers
typing-extensions
requests
pycaw
